# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
.coverage
.env
*.pyo
*.pyd
db.sqlite3
venv/
staticfiles/

# React stuff:
node_modules/
build/

# Editor directories and files
.idea/
.vscode/
*.swp
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
